<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/33-Account_Stream/src/com/aurinpro/test/AccountTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.aurinpro.test.AccountTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="33-Account_Stream"/>
</launchConfiguration>
